*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 396px;
    }
}

@media screen and (min-width: 630px) {
    .container {
        width: 600px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 738px;
    }
}

@media screen and (min-width: 1040px) {
    .container {
        width: 1000px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1400px;
    }
}

:root{
    --font-montserrat: "Montserrat", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --color-dark-purple: #130536;
    --color-purple: #1D0559;
    --color-light-purple: #714D89;
    --color-pink: #EFBAD2;
    --color-dark-pink: #C5A7CD;
    --color-white: #EBEBEB;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* HEADER */
.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header__menu-logo{
    width: 163px;
    height: 107px;

}

.header__menu-list{
    display: flex;
    gap: 80px;
}

.header__menu-item-link{
    font-family: var(--font-roboto);
    font-size: 16px;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.32px;
    color: var(--color-purple);
    display: block;
    position: relative;
    font-weight: 400;
}

.current{
    font-weight: 700;
}

.header__menu-item-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -3px;
    height: 2px;
    border-radius: 2px;
    left: 0;
    background-color: var(--color-dark-purple);
}

.header__signInButton{
    padding: 16px 24px;
    border-radius: 15px;
    background: var(--color-dark-purple);
    color: var(--color-white);
    border: none;
    font-family: var(--font-montserrat);
    font-weight: 700;
    letter-spacing: 0.16px;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    transition: background-color var(--transition);
}

.header__signInButton:hover, .header__signInButton:focus{
    background: var(--color-light-purple);
}

/*desktop*/
@media screen and (max-width: 1200px) {
    .header__menu-logo{
        width: 154px;
        height: 100px;
    }
    .header__signInButton{
        padding: 15px 20px;
        font-size: 14px;
    }
}

/*tablet*/
@media screen and (max-width: 1040px){
    .header__content{
        margin-bottom: 15px;
    }

    .header__menu-logo {
        width: 100px;
        height: 65px;
    }

    .header__menu-item-link{
        font-size: 12px;
    }

    .header__signInButton{
        font-size: 10px;
        padding: 12px 13px;
        border-radius: 9px;
    }
}



/* HERO */
.hero{
    /*width: 100vw;*/
    /*height: 100vh;*/
}

.hero__content{
    position: relative;
}

.hero__textH1{
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 70px;
    color: var(--color-purple);
    line-height: 110%;
    letter-spacing: 0.96px;
}

.hero__textH3{
    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: var(--color-purple);
    margin-top: 32px;
}

.hero__text{
    position: absolute;
    top: 28%;
    left: 45%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    white-space: nowrap;
}

.hero__figures{
    display: flex;
    justify-content: space-between;
}

.hero__left-figure{
    width: 47%;
}

.hero__right-figure{
    width: 40%;
}

.hero__arrow{
    position: absolute;
    top: 70%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 140px;
}

.hero__button-about-course{
    padding: 16px 24px;
    color: var(--color-white);
    font-family: var(--font-montserrat);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 15px;
    border: none;
    background: var(--color-dark-purple);
    transition: background-color var(--transition);
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    right: 18%;
    transform: translate(-50%, -50%);
}

.hero__button-about-course:hover, .hero__button-about-course:focus{
    background: var(--color-light-purple);
}

/*desktop*/
@media screen and (max-width: 1440px){
    .hero__textH1{
        font-size: 65px;
    }

    .hero__textH3{
        font-size: 17px;
        margin-top: 22px;
    }

    .hero__arrow{
        width: 126px;
        left: 52%;
        top: 69%;
    }

    .hero__button-about-course{
        right: 12%;
        bottom: 0;
    }
}

@media screen and (max-width: 1200px){
    .hero__textH1{
        font-size: 55px;
    }

    .hero__textH3{
        font-size: 15px;
    }

    .hero__arrow{
        width: 102px;
        left: 52%;
        top: 69%;
    }

    .hero__button-about-course{
        right: 12%;
        bottom: 0;
        font-size: 14px;
        padding: 15px 20px;
    }

}

/*tablet*/
@media screen and (max-width: 1040px) {
    .hero_text{
        left: 43%;
    }

    .hero__textH1{
        font-size: 35px;
    }

    .hero__textH3{
        font-size: 11px;
    }

    .hero__arrow{
        width: 80px;
        left: 53%;
    }

    .hero__button-about-course{
        font-size: 10px;
        padding: 12px 13px;
        border-radius: 9px;

    }
}



/* FOR STUDENTS WHO SECTION */
.for-students-who{
    margin-top: 120px;
}

.caption-h2{
    font-family: var(--font-montserrat);
    font-size: 48px;
    font-weight: 600;
    line-height: 110%;
    color: var(--color-purple);
    text-align: center;
    margin-bottom: 48px;
}

.for-students-who__list{
    display: flex;
    justify-content: space-between;
}

.for-students-who__img{
    margin: 0 auto;
}

.for-students-who__list-item h3{
    font-size: 24px;
    font-family: var(--font-montserrat);
    font-weight: 600;
    color: var(--color-purple);
    text-align: center;
    margin: 12px 0;
}

.for-students-who__list-item p{
    color: var(--color-purple);
    font-family: var(--font-montserrat);
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.16px;
    width: 380px;
    margin: 0 auto;
}

/*desktop*/
@media screen and (max-width: 1200px) {
    .for-students-who{
        margin-top: 110px;
    }

    .caption-h2{
        font-size: 38px;
    }

    .for-students-who__list-item h3{
        font-size: 20px;
        /*width: 235px;*/
        margin: 10px auto;
    }

    .for-students-who__list-item p{
        font-size: 13px;
        width: 235px;
    }

    .for-students-who__list-item{
        max-width: 280px;
    }

}

/*tablet*/
@media screen and (max-width: 1040px){
    .for-students-who{
        margin-top: 55px;
    }

    .caption-h2 {
        font-size: 28px;
        margin-bottom: 35px;
    }

    .for-students-who__list {
        flex-wrap: wrap;
        /*justify-content: center;*/
        /*gap: 30px 148px;*/
    }

    .for-students-who__list-item {
        max-width: 220px;
    }

    .for-students-who__list-item h3{
        font-size: 15px;
    }

    .for-students-who__list-item p{
        font-size: 10px;
    }
}


@media screen and (max-width: 768px) {

}

@media screen and (min-width: 630px) {

}

@media screen and (min-width: 480px) {

}



/* EDUCATIONAL PROGRAMME SECTION*/
.educational-programme{
    margin-top: 120px;
}

.educational-programme__list{
    display: flex;
    justify-content: space-evenly;
}

.educational-programme__list-item{
    padding: 120px 48px;
    border-radius: 15px;
    background: var(--color-pink);
}

.educational-programme__module-number{
    color: var(--color-light-purple);
    font-family: var(--font-montserrat);
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 32px;
}

.educational-programme__div h4{
    color: var(--color-purple);
    font-family: var(--font-montserrat);
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 24px;

}

.educational-programme__div ul li{
    color: var(--color-purple);
    font-family: var(--font-montserrat);
    font-weight: 500;
    letter-spacing: 0.02px;
    font-size: 20px;

}

@media screen and (max-width: 1440px) {
    .educational-programme__list-item{
        padding: 100px 55px;
    }

    .educational-programme__module-number{
        font-size: 45px;
    }

    .educational-programme__div h4{
        font-size: 26px;
    }

    .educational-programme__div ul li{
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    .educational-programme__module-number{
        font-size: 39px;
    }

    .educational-programme__div h4{
        font-size: 24px;
    }

}

/*tablet*/
@media screen and (max-width: 1040px){
    .educational-programme__list-item{
        padding: 65px 43px;
    }

    .educational-programme__module-number{
        font-size: 25px;
        margin-bottom: 20px;
    }

    .educational-programme__div h4{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .educational-programme__div ul li{
        font-size: 10px;
    }
}



/* EDUCATION STEPS SECTION */
.education-steps{
    margin-top: 120px;
    position: relative;
}

.education-steps__content{
    width: 870px;
    margin: 0 auto;
}

.step-number{
    color: var(--color-dark-pink );
    font-family: var(--font-montserrat);
    font-size: 73px;
    font-weight: 700;
}

.education-steps__list-item{
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.step-info h3{
    color: var(--color-purple);
    font-family: var(--font-montserrat);
    font-size: 20px;
    font-weight: 600;
}

.step-info p{
    color: var(--color-purple);
    font-family: var(--font-montserrat);
    font-size: 14px;
    font-weight: 500;
    width: 311px;
    margin-top: 12px;
    line-height: 19px;
}

.step-info{
    margin-left: 20px;
}

.education-steps__list-item:nth-child(even) {
    margin-left: 42%;
}

.education-steps__list-item:nth-child(odd) {
    margin-left: 0;
}

/*.education-steps__figures{*/
/*    display: flex;*/
/*    position: absolute;*/
/*    top: -197px;*/
/*    z-index: 5;*/
/*    justify-content: space-between;*/
/*}*/

.education-steps__left-figure{
    position: absolute;
    z-index: 5;
    top: -185px;
    left: 40px;
    width: 480px;
    /*width: 40%;*/
}

.education-steps__right-figure{
    position: absolute;
    z-index: 5;
    bottom: -30px;
    right: 40px;
    width: 480px;
    /*width: 37%;*/
    /*margin-top: 300px;*/
}

/*desktop*/
@media screen and (max-width: 1400px) {
    .education-steps__content {
        width: 780px;
    }

    .education-steps__list-item:nth-child(even) {
        margin-left: 36%;
    }

    .education-steps__left-figure {
        top: -185px;
        left: 20px;
        width: 470px;
    }

    .education-steps__right-figure {
        bottom: -38px;
        right: 20px;
        width: 470px;
    }

}

@media screen and (max-width: 1200px) {
    .education-steps__content{
        width: 670px;
    }

    .education-steps__list-item:nth-child(even) {
        margin-left: 33%;
    }

    .step-number{
        font-size: 60px;
    }

    .step-info h3{
        font-size: 18px;
    }

    .step-info p{
        font-size: 12px;
        width: 240px;
        margin-top: 6px;
    }

    .education-steps__list-item{
        margin-top: 20px;
    }

    .education-steps__left-figure {
        top: -156px;
        width: 405px;
    }

    .education-steps__right-figure {
        bottom: -23px;
        width: 405px;
    }
}

    /* tablet*/
@media screen and (max-width: 1040px) {
    .education-steps__content{
        width: 570px;
    }

    .education-steps__list-item:nth-child(even) {
        margin-left: 31%;
    }

    .step-number{
        font-size: 50px;
    }

    .step-info h3{
        font-size: 16px;
    }

    .step-info p{
        font-size: 10px;
        width: 200px;
        margin-top: 6px;
    }

    .education-steps__list-item{
        margin-top: 10px;
    }

    .education-steps__left-figure {
        top: -127px;
        width: 322px;
        left: 75px;
    }

    .education-steps__right-figure {
        bottom: -15px;
        width: 322px;
        right: 78px;
    }


}






















