*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 396px;
    }
}

@media screen and (min-width: 630px) {
    .container {
        width: 600px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 738px;
    }
}

@media screen and (min-width: 1040px) {
    .container {
        width: 1000px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1400px;
    }
}

:root{
    --font-montserrat: "Montserrat", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --color-dark-purple: #130536;
    --color-purple: #1D0559;
    --color-light-purple: #714D89;
    --color-pink: #EFBAD2;
    --color-dark-pink: #C5A7CD;
    --color-white: #EBEBEB;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* HEADER */
.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header__menu-logo{
    width: 163px;
    height: 107px;

}

.header__menu-list{
    display: flex;
    gap: 80px;
}

.header__menu-item-link{
    font-family: var(--font-roboto);
    font-size: 16px;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.32px;
    color: var(--color-purple);
    display: block;
    position: relative;
    font-weight: 400;
}

.current{
    font-weight: 700;
}

.header__menu-item-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -3px;
    height: 2px;
    border-radius: 2px;
    left: 0;
    background-color: var(--color-dark-purple);
}

.header__signInButton{
    padding: 16px 24px;
    border-radius: 15px;
    background: var(--color-dark-purple);
    color: var(--color-white);
    border: none;
    font-family: var(--font-montserrat);
    font-weight: 700;
    letter-spacing: 0.16px;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    transition: background-color var(--transition);
}

.header__signInButton:hover, .header__signInButton:focus{
    background: var(--color-light-purple);
}

/*desktop*/
@media screen and (max-width: 1200px) {
    .header__menu-logo{
        width: 154px;
        height: 100px;
    }
    .header__signInButton{
        padding: 15px 20px;
        font-size: 14px;
    }
}

/*tablet*/
@media screen and (max-width: 1040px){
    .header__content{
        margin-bottom: 15px;
    }

    .header__menu-logo {
        width: 100px;
        height: 65px;
    }

    .header__menu-item-link{
        font-size: 12px;
    }

    .header__signInButton{
        font-size: 10px;
        padding: 12px 13px;
        border-radius: 9px;
    }
}



/* HERO */
.hero{
    /*width: 100vw;*/
    /*height: 100vh;*/
}

.hero__content{
    position: relative;

}

.hero__textH1{
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 70px;
    color: var(--color-purple);
    line-height: 110%;
    letter-spacing: 0.96px;
}

.hero__textH3{
    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: var(--color-purple);
    margin-top: 32px;
}

.hero__text{
    position: absolute;
    top: 28%;
    left: 45%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    white-space: nowrap;
}

.hero__figures{
    display: flex;
    justify-content: space-between;
}

.hero__left-figure{
    width: 47%;
}

.hero__right-figure{
    width: 40%;
}

.hero__arrow{
    position: absolute;
    top: 70%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 140px;
}

.hero__button-about-course{
    padding: 16px 24px;
    color: var(--color-white);
    font-family: var(--font-montserrat);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 15px;
    border: none;
    background: var(--color-dark-purple);
    transition: background-color var(--transition);
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    right: 18%;
    transform: translate(-50%, -50%);
}

.hero__button-about-course:hover, .hero__button-about-course:focus{
    background: var(--color-light-purple);
}

/*desktop*/
@media screen and (max-width: 1440px){
    .hero__textH1{
        font-size: 65px;
    }

    .hero__textH3{
        font-size: 17px;
        margin-top: 22px;
    }

    .hero__arrow{
        width: 126px;
        left: 52%;
        top: 69%;
    }

    .hero__button-about-course{
        right: 12%;
        bottom: 0;
    }
}

@media screen and (max-width: 1200px){
    .hero__textH1{
        font-size: 55px;
    }

    .hero__textH3{
        font-size: 15px;
    }

    .hero__arrow{
        width: 102px;
        left: 52%;
        top: 69%;
    }

    .hero__button-about-course{
        right: 12%;
        bottom: 0;
        font-size: 14px;
        padding: 15px 20px;
    }

}

/*tablet*/
@media screen and (max-width: 1040px) {
    .hero_text{
        left: 43%;
    }

    .hero__textH1{
        font-size: 35px;
    }

    .hero__textH3{
        font-size: 11px;
    }

    .hero__arrow{
        width: 80px;
        left: 53%;
    }

    .hero__button-about-course{
        font-size: 10px;
        padding: 12px 13px;
        border-radius: 9px;

    }
}



/* FOR STUDENTS WHO SECTION */
.for-students-who{
    margin-top: 120px;
}

.for-students-who__caption{
    font-family: var(--font-montserrat);
    font-size: 48px;
    font-weight: 600;
    line-height: 110%;
    color: var(--color-purple);
    text-align: center;
    margin-bottom: 48px;
}

.for-students-who__list{
    display: flex;
    justify-content: space-between;
}

.for-students-who__img{
    margin: 0 auto;
}

.for-students-who__list-item h3{
    font-size: 24px;
    font-family: var(--font-montserrat);
    font-weight: 600;
    color: var(--color-purple);
    text-align: center;
    margin: 12px 0;
}

.for-students-who__list-item p{
    color: var(--color-purple);
    font-family: var(--font-montserrat);
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.16px;
    width: 380px;
    margin: 0 auto;
}

/*desktop*/
@media screen and (max-width: 1200px) {
    .for-students-who{
        margin-top: 110px;
    }

    .for-students-who__caption{
        font-size: 38px;
    }

    .for-students-who__list-item h3{
        font-size: 20px;
        /*width: 235px;*/
        margin: 10px auto;
    }

    .for-students-who__list-item p{
        font-size: 13px;
        width: 235px;
    }

    .for-students-who__list-item{
        max-width: 280px;
    }

}

@media screen and (max-width: 1040px){
    .for-students-who{
        margin-top: 55px;
    }

    .for-students-who__caption {
        font-size: 28px;
        margin-bottom: 35px;
    }

    .for-students-who__list {
        flex-wrap: wrap;
        /*justify-content: center;*/
        /*gap: 30px 148px;*/
    }

    .for-students-who__list-item {
        max-width: 220px;
    }

    .for-students-who__list-item h3{
        font-size: 15px;
    }

    .for-students-who__list-item p{
        font-size: 10px;
    }
}


@media screen and (max-width: 768px) {

}

@media screen and (min-width: 630px) {

}

@media screen and (min-width: 480px) {

}














